<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="test.beryllium.xmldump.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <test.beryllium.xmldump.Properties.Settings>
            <setting name="TestDataPath" serializeAs="String">
                <value>D:\files\priv\personal\eat\proj\dev\_github\codename-beryllium\data</value>
            </setting>
            <setting name="TestDataPath_xeat" serializeAs="String">
                <value>C:\files\personal\proj\dev\codename-beryllium\data</value>
            </setting>
        </test.beryllium.xmldump.Properties.Settings>
    </userSettings>
</configuration>